---
title: Devo Craft Fair 2019
---
<html>
  {% include head.html %}
<body>

  <div class="container">
    <p class="mt-5">The Coolidge Corner School PTO presents...</P>
    <div class="row mb-5 header">
      <div class="col-1">
	<img class="origami-bee" src="pix/origami-bee.svg"/>
      </div>
      <div class="col-11">
	<h3 class="mt-2" >Coolidge Corner School</h3>
	<h1 class="mb-2">Annual Crafts & Services Fair</h1>
      </div>
    </div>

  <div class="row mt-3">
    <div class="col-2"><em>When</em></div>
    <div class="col-6"><b>Wednesday, January 30, 2019<br/>
      6:00pm-7:30pm</b><br/>
      Exhibitors should arrive to set up at 5:30pm</div>
  </div>

  <div class="row mt-3">
    <div class="col-2"><em>Where</em></div>
    <div class="col-6">Brookline Coolidge Corner School, in the cafeteria.</br>
      <i>Note: Please enter through the Stedman St. door</i></div>
  </div>

  <div class="row mt-3">
    <div class="col-2"><em>Who</em></div>
    <div class="col-6">All Coolidge Corner students K-8 are welcome.</br>
      to sell their creations and/or services</div>
  </div>

  <div class="row mt-3">
    <div class="col-2"><em>What</em></div>
    <div class="col-6">Make unique crafts, delicious treats, or whatever you can think up.</br>
      Offer nail polishing, hair styling, tattoos, games, card trading, face painting, and more!</div>
  </div>

  <div class="row mt-3">
    <div class="col-2"><em>How much</em></div>
    <div class="col-6">Optional donation: $2.00 per crafter<br/>
      To be collected at the door on the day of the fair.<br/>
      All proceeds will be donated to the <a href="http://brooklinefoodpantry.org/">Brookline Food Pantry</a>.</div>
  </div>
    <p class="mt-4">Registration deadline: Wednesday January 16</p>

  
    <p>Remember, it must be homemade. Reselling store-bought items or food that you did not make is not allowed.</br>
      Please read the <a href="tips">Craft Fair Tips for Success</a>.</p>

    <p><b>Questions?</b> Contact <a href="mailto:melissadulla@hotmail.com">Melissa Dulla</a> or
      <a href="caknopp@me.com">Christina Knopp</a>.</p>

    <p><b>Changes?</b> Please contact <a href="caknopp@me.com">Christina Knopp</a> if a crafter has already registered and has a change to make.</p>

    <h3>Participation signup form</h3>

    <form class="mb-5">
      {% for i in (1..3) %}
      <label class="mt-3" for="name{{i}}">Student {{i}}</label>
      <div class="form-row">
	<div class="col-6">
	  <input type="text" class="form-control" id="name{{i}}" placeholder="name">
	</div>
	<div class="col-3">
	  <input type="text" class="form-control" id="phone{{i}}" placeholder="phone">
	</div>
	<div class="col-3">
	  <select class="custom-select" id="grade{{i}}">
	    <option value="" selected>Grade...</option>
	    {% for grade in site.data.grades %}
	    <option value="{{ grade }}">{{ grade }}</option>{% endfor %}
	  </select>
	</div>
      </div>
      {% endfor %}

      <div class="form-group row mt-3 col-12">
	<label for="requests">What will you be selling? Please be specific.</label>
	<textarea class="form-control" id="description"></textarea>
      </div>

      <div class="form-group row col-12">
	<label for="requests">Special requests</label>
	<textarea class="form-control" id="requests"></textarea>
      </div>

    <div class="form-check col-12 mt-3">
      <input class="form-check-input" type="checkbox" id="needElectric"></input>
      <label class="form-check-label" for="needElectric"><i class="fa fa-plug"></i>Check here if you will need an electrical outlet.</label>
    </div>

    <i class="mt-5 fa fa-cog fa-spin spinner"></i>

 <div class="container">
   <div class="modals mt-5">
     <div class="success alert alert-success">
       <span class="fa fa-check"></span>
       <P>We've received your application form. Thanks for signing up!</P>
       <button class="ok btn btn-default" role="button">OK</button>
     </div>

     <div class="fail alert alert-warning">
       <span class="fa fa-thumbs-down"></span>
       <P>Oops, there was a problem. The reason is: <div class="reason"></div></P>
       <button class="ok btn btn-default" role="button">OK</button>
     </div>
   </div>
 </div>


    <button id="signup" type="submit" class="btn btn-primary mt-5">Sign up</button>

  </div>
</form>


</body>
</html>
