<nav class="devo-nav navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header"><div class="logo"></div></div>
    <ul class="nav navbar-nav">
        <li><a href="http://www.brookline.k12.ma.us/devotion/pto">Devo PTO<span class="sr-only">(current)</span></a></li>
        <li><a href="http://www.brookline.k12.ma.us/devotion/sciencefair">Science Fair Home</a></li>
        <li class="active"><a href="#">Registration<span class="sr-only">(current)</span></a></li>
    </ul>
  </div>
</nav>
